<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>myVue</title>
</head>
<body>
	<div id="app"><div>a</div>
	<div v-text="cat.name">121212{{cat.age}} </div>
	<div>名称：{{cat.name}}  年龄：{{cat.age}}</div>
	<!-- <div>22222{{cat.name}}{{cat.age}}</div> -->
		<!-- <div v-text="cat.name">1</div> -->
		<input type="text" v-model="cat.name">
		<!-- <div v-text="cat.age"></div> -->
		<input type="text" v-model="cat.age">
	</div>
	<!-- <script src="./node_modules/vue/dist/vue.js"></script> -->
	<!-- <script src="./src/myVue.js"></script> -->
	<script src="./src/myVue-1.0.0.js"></script>
	<script>
		// var vm = new MVVM({
		// 	el:'#app',
		// 	data:{
		// 		name:'angelwgh'
		// 	}
		// })


		
		console.log(myVue)
		var vm = new myVue({
			el:'#app',
			data:{
				name:'2',
				cat:{
					name:'tom',
					age:1
				}
			}
		})
	</script>
</body>
</html>